/* Makes link non-clickable with not-allowed cursor */
a[aria-disabled="true"], a[disabled="true"] {
    cursor: not-allowed;
}
a[aria-disabled="true"]:active, a[disabled="true"]:active {
    pointer-events: none;
}

.card {
    height: 100%;
}

@media screen and (max-width: 768px){
    .columns {
        margin-left: 0;
        margin-right: 0;
    }
}